body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background: #eceff1;
}
.App-header p {
  margin: 10px 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.left-container {
  display: flex;
  flex: 1 1 0%;
  background: #eceff1;
  flex-direction: column;
  width: 300px;
}
.btn-wrapper {
  display: flex;
  flex-direction: column;
}
.btn-wrapper a {
  margin:10px 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 3px 5px 6px #8888;
  transition: all .5s;
}
.btn-wrapper a:hover {
  transform: translate(0px, -5px);
  box-shadow: 3px 5px 10px #888888;
}
.btn-wrapper a:active{
  transform: translate(0px, -3px);
}
.btn-active{
  background-color: #282c34 !important;
  color:#fff
}
.btn-disabled {
  cursor: none;
  opacity: 0.5;
}

.content{
  position: relative;
}
 
.prev-btn{
  width: 35px;
  height: 35px;
  background: red;
  position: absolute;
 
}
.next-btn{
  position: absolute;
  width: 35px;
  height: 35px;
  background: blue;
}
.left-0{
  left: 0;
}
.right-0{
  right: 0;
}

.drop-area {
  width: 100%;
  height: 100%;
  /* background: yellow; */
  position: absolute;
  overflow: hidden;
}
.abandoned-wrapper {
  width: 100%;
  height: 100%;
  /* background: yellow; */
  position: absolute;
  overflow: hidden;
}

#dragableEl {
  position: absolute;
  z-index: 9;
  text-align: center;
  background-color: #2196F3;
  padding: 10px;
  /* overflow: auto;
  resize: both; */
}

#dragableEl span {
  /* padding: 10px; */
  cursor: move;
  z-index: 10;
  color: #fff;
}

#dragableEl{
  display: none;
  top:50px;
  left:390px;
}

.wrapper-page-btn{
  width: 300px;
  height: 50px;
  position: relative;
}

.resizer-wrapper{
  width: 300px;
  height: 300px;
  background: red;
  /* overflow: auto; */
  /* resize: both; */
  margin: 10px;
  position: relative;
}



/* Resizeable class */
.resizable {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
  display: none;
  transform: scale(1);
  z-index: 1;
}
.on-animate{
  animation-name: scaledup;
  animation-duration: .5s;
}
@keyframes scaledup{
  0%   {
    transform: scale(0);
  }
  50%  {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.remove{
  animation-name: scaledown;
  animation-duration: .5s;
  transform:scale(0);
}
@keyframes scaledown{
  0%   {
    transform: scale(1);
  }
  50%  {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  /* border: 3px solid #4286f4; */
  box-sizing: border-box;
}
.active-border{
  border: 3px solid #4286f4;
}

.resizable .resizers .resizer{
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizable .resizers .resizer.bottom-right {
  right: -8px;
  bottom: -8px;
  cursor: nwse-resize;
}

.resizable .resizers .resizer-close{
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: red;
  border: 3px solid red;
  position: absolute;
  right: -8px;
  top: -8px;
  cursor: pointer;
}
.resizer-close span {
  top: -9px;
  position: absolute;
  left: 1px;
  font-weight: bold;
  color:#fff
}
 
.img-wrapper{
  width: 100%;
  height: 100%;
}

.generate-box {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
}

.p0-m0 {
  padding: 0 !important;
  margin: 0 !important;
}
.naxt-prev-btn{
  color: #000;
  font-weight: bold;
  transform: translate(-4px, -6px) scale(1.5);
  position: absolute;
  user-select: none;
}

.max-wrapper {
  max-width: 1300px;
  display: flex;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.wrapper-total-page{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.wrapper-total-page span {
  user-select: none;
}
.scaled-change {
  -webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}